*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}
form{
    width: 100%;
    height: auto;
    padding: 1rem;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    background-color: #ffecb3;
}
label{
    display: block;
}
input, select{
    width: 100%;
    margin: 5px auto;
    padding: 8px;
}
canvas{
    width: 100%;
    margin-bottom: 10em;
}
button, a{
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    flex: 1;
    text-align: center;
}
button{
    background-color: #4caf50;
}
a{
    background-color: #2196f3;
}
.contenedor{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.hidden{
    display: none;
}
.disable{
    background-color: gray;
}